.myFlexjc-start {
    display: flex;
    justify-content:start;
    align-items: center;
  }
  .myFlex-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .myFont{
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    line-height: 30px;
  }
  .myFontTitle{
    font-family: "Mulish", sans-serif;
    font-weight: 200;
    line-height: 30px;
  }