@mixin text-center($jcc:center,$aic:center,$df:flex ) {
  align-items: $aic;
  justify-content: $jcc;
  display: $df;
}
@mixin getButton($backColor,$ping,$textColor,$fontSize,$borderRadius){
  background-color: $textColor;
  padding: $ping;
  color: $backColor;
  font-size: $fontSize;
  border-radius: $borderRadius;
}