// COLORS

$text-dark:#252525;
$primary-color:#e7ab3c; 
$border-color:1px solid #e5e5e5; 
$leyla:blue;
$border-left:#ebebeb;
$footer-p:#b2b2b2;
$footer-back:#191919;

// FONT SIZE
$title-fontSize:72px;
$subTitle-fontSize:18px;
$h3-fontsize:22px;