// COLORS

$text-dark:#252525;
$primary-color:#e7ab3c; 
$border-color:1px solid #e5e5e5; 
$leyla:blue;
$border-left:#ebebeb;
$footer-p:#b2b2b2;
$footer-back:#191919;
$paragraph-color:#636363;

// FONT SIZE
$title-fontSize:72px;
$subTitle-fontSize:18px;
$h3-fontsize:22px;
$lorem-fontsize:16px;

// ? Colors
$main-color:#e7ab3c;
$subTitle-color:#a2a1a1;
$black-color:#212529;
$second-subTitle-color:#636363;



// ? Font-Sizes
$title-fontSize:24px;
$subTitle-fontSize:16px;
